@charset "UTF-8";

.item-center {
	text-align: center;
	padding-top: 4px;
	padding-bottom: 1px;
	margin-bottom: 10px;
	grid-template: max-content;
	column-gap: 4px;
	background-color: rgb(100, 234, 249);
	border: 3px green solid;
	border-radius: 30px;
	font-size: xxx-large;
}

.container {
	display: grid;
	grid-template-columns: 400px 200px 100px;
	grid-template-columns: repeat(2, auto);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	grid-auto-columns: minmax(50px, auto);
	column-gap: 10px;
	margin-bottom: 10px;
	/* row-gap: 150px;    */
}

.nested-item {
	border: px rgb(199, 199, 144) solid;
	border-radius: 10px;
	background-color: #87dfdf;
	border: 3px green solid;
	padding-inline: 10px;
	text-align: center;
	font-size: xx-large;
	font-family: cursive;
}